.heading{
    text-align: center;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.heading h3{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
    color: #18191F;
    margin-bottom: 8px;
}
.heading p{
    margin-top: 0;
}

.row{
    display: flex;
    column-gap: 30px;
}
.cell{
    width: 33.33333%;
}

.bg-1{
    background: yellow;
}

.bg-2{
    background: blue;
}