html{
    font-size: 18px;
    line-height: 1.7;
    font-family: 'Inter', sans-serif;
}
img{
    max-width: 100%;
}
.heading{
    text-align: center;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.heading h3{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
    color: #18191F;
    margin-bottom: 8px;
}
.heading p{
    margin-top: 0;
}

.row{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.cell{
    width: 50%;
}

.bg-1{
    background: yellow;
}

.bg-2{
    background: blue;
}


.heading-3{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
}